* {
  margin: 0;
  padding: 0;
}
.form-container {
  border: 2px solid;
  margin: 10px 0px;
  margin: auto;
  width: 50%;
  height: 40%;
  border-radius: 20px;
  box-shadow: 10px 10px 20px #aaaaaa;
}

.form-container h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  padding-top: 20px;
}

.special {
  color: #5858f0;
}

form {
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}
label {
  font-weight: bold;
  font-size: 1.2em;
  margin: 5px 0px;
}

#book-form input[type="text"] {
  font-size: 1em;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaaaaa;
}

#submit {
  padding: 15px;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 0px;
  border-radius: 30px;
  background-color: #a2ff0d;
  transition: background-color 0.5s ease-in 0.1s, box-shadow 0.5s ease-in 0.1s;
}

#submit:hover {
  cursor: pointer;
  box-shadow: 5px 10px 10px #aaaaaa;
  background-color: #5acffa;
}
.list {
  width: calc(100%- 100px);
  margin: 50px 0px;
  padding: 0px 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 10px;
}
.list div {
  border: 2px solid;
  padding: 20px;
}
.delete {
  padding: 5px 10px;
  background-color: red;
  color: white;
  position: relative;
  float: right;
}

.delete:hover {
  cursor: pointer;
}

.success {
  background-color: rgb(101, 240, 101);
}

.remove {
  background-color: rgb(245, 59, 59);
}

@media (max-width: 450px) {
  .form-container {
    border: 2px solid;
    margin: 10px 0px;
    margin: auto;
    width: calc(100% - 4px);
    height: 40%;
    border-radius: 20px;
  }
  .form-container h1 {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.5em;
    padding-top: 10px;
  }
  .list {
    width: calc(100%- 100px);
    margin: 50px 0px;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
  }
}
